*{
    background: #000;
}
/* navbar styles */
.rt-nav a{
    color: rgb(145, 145, 145);
}
.rt-nav a:hover{
    color: rgb(255, 255, 255);
}

.feedback a:hover{
    background: #2b2b2b;
        color: rgb(255, 255, 255);
    
}
.noti-img img:hover{
    height:39px ;
}
li{
    cursor: pointer;
}
/* right settings profile dropdown */
pre{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
li .nav-link{
    color: rgb(139, 139, 139);
}
li .nav-link:hover{
    color: rgb(255, 255, 255);
}
hr{
    background: #000;
}
.dropdown ul{
    background: #000;
    border-color: rgb(48, 47, 47);
    border-radius: 20px;
}
.dropdown .dropdown-item:hover{
    background: #434343;
}
.dropdown pre:hover{
    background: #434343;
}


/* styles for the updown arrow dropdown */
.updown-arrow:hover{
    background: #303030;
}
.updown-arrow .dropdown-menu {
    width: 500px; /* Adjust the width of the dropdown menu */
  background: #000;
  border-color: rgb(93, 93, 94);
  }
  .updown-arrow  .dropdown-menu .col-6 {
    width: 50%; /* Ensure columns take equal width */
  }
  .dropdown-menu .form-control{
    background: #000000;
    
  }
  

  /* styles for search area */
#search-area .input-group-text{
    background: #000;
}
 .search-bar button{
    width: 40px;
    background-color: #000000;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right: none;
 }
 .input-group.search-bar .form-control {
    width: calc(100% - 40px); /* Adjust the width as needed */
    color: white; /* Ensure the text color is white for visibility */
  }
 .input-group.search-bar .form-control::placeholder {
    color: white; /* Set the placeholder color to white for visibility */
    opacity: 0.7; /* Adjust the opacity for better visibility */
  }
 .search-bar button:hover{
    
    background-color: #000000;
 }
 .left-col{
    border-right:1px solid #434343;
 }
 .left-col a{
    text-decoration:none ;
    color: aliceblue;
    
 }
 .navbar-nav .border-class{
    border-radius: 5px;
    margin-top: 3px;
    width: 6rem;
    border: 1px solid rgb(75, 75, 75);
   margin-right: 10px;
   display: flex;
   justify-content: center;
}

.navbar-nav .sort-width{
    width: 9.6rem;
    margin-top: 3px;
    border-radius: 5px;
    border: 1px solid rgb(75, 75, 75);
   margin-right: 10px;
    
}
.navbar-nav .border-class-new{
    margin-top: 3px;
    border-radius: 5px;
    background: #ffffff;
    color: #000;
}
.input-group .border-search{
    border: 1px solid rgb(75, 75, 75);
    height: 42px;
}
.custom-hr {
    border: none;
    border-top: 1px solid #000000; /* Customize the color of the line */
    margin: 0; /* Adjust the margin as needed */
}


/* card styles */
#cards .card {
    border: none;
    border-radius: 10px
}

#cards .c-details span {
    font-weight: 300;
    font-size: 13px
}

#cards a{
    text-decoration: none;
    color: #666666; 
}
.card-bg{
    background-color: #383740;
}
.icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #eee;
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 39px
}

.badge span {
    background-color: #fffbec;
    width: 60px;
    height: 25px;
    padding-bottom: 3px;
    border-radius: 5px;
    display: flex;
    color: #fed85d;
    justify-content: center;
    align-items: center
}

.progress {
    height: 10px;
    border-radius: 10px
}

.progress div {
    background-color: red
}

.text1 {
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    
}

.text2 {
    color: #a5aec0
}


/* footer style */
p .grid-icon{
    border: 1px solid #666666;
    border-radius: 2px;
    padding: 1.5px;
}
.theme-bg{
    border:1px solid rgb(81, 81, 80);
    border-radius: 50px;
    height: 35px;
    width: 100px;
    margin-left: 30px;
}
.comp-bg{
    border:1px solid rgb(130, 130, 129);
    border-radius: 50%;
    padding: 2px;
}
.legal-dropdown li a{
    color: #ffffff;
}